<div class='row'>
	<div class='col-md-4'>
		<h1>Stock Info</h1>
		<div class='form-group' style='width: 80%;'>
			<label for='company-name'>Company Name</label>
			{{input name='company-name' class='form-control' value=filter key-up='changedFilter' placeholder='e.g. Apple Inc.'}}
		</div>
		<ul class='list-unstyled'>
			{{#each company in model}}
				<li>
					{{#link-to 'company' company.id}}{{company.longName}}{{/link-to}}
				</li>
			{{/each}}
		</ul>
	</div>
	<div class='col-md-8'>
		{{outlet}}
	</div>
</div>
